.scanline {
    pointer-events: none;
    background-color: black;
    height: 15vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 0.3;
    animation: scanning 10s infinite linear, beam 0.01s infinite linear;
    box-shadow: 0 0 4rem #222222;
    display: flex;
    > div {
        flex: 1 1 auto;
        animation: beam 0.01s infinite linear;
        background-color: transparent;
        box-shadow: 0 0 4rem #222222;
        opacity: 1;
    }
}

@keyframes beam {
    50% {
        opacity: 0;
    }
}

@keyframes scanning {
    100% {
        top: calc(100vh - 15vh);
    }
}
