.scanline {
    background-color: black;
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    z-index: 2;
    animation: scanning 10s infinite linear;
    box-shadow: 0 0 4px #222222;
    display: flex;
    > div {
        flex: 1 1 auto;
        animation: beam 0.01s infinite linear;
        background-color: transparent;
        box-shadow: 0 0 16px black;
        opacity: 1;
    }
}

@keyframes beam {
    50% {
        opacity: 0;
    }
}

@keyframes scanning {
    100% {
        top: calc(100vh - 12px);
    }
}
