.scanline {
    width: 100vw;
    background-color: black;
    height: 12px;
    position: absolute;
    top: 0;
    opacity: 0.6;
    z-index: 2;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    animation: scanning 10s infinite;
    > div {
        animation: beam 0.01s infinite;
    }
}

@keyframes beam {
    50% {
        opacity: 0;
    }
}

@keyframes scanning {
    100% {
        transform: translateY(100vh);
    }
}
