.cursor:before {
    content: '';
    background-color: #228b22;
    animation: blink 1s step-end infinite;
    width: 0.5rem;
    height: 1rem;
    display: inline-block;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
