.about {
    @media screen and (min-width: 640px) {
        padding: 0 5vw;
    }
    @media screen and (min-width: 860px) {
        padding: 0 10vw;
    }
    @media screen and (min-width: 1024px) {
        padding: 0 15vw;
    }

    li {
        padding: 0.5rem 0;
    }
}
