.index {
    @media screen and (min-width: 640px) {
        padding: 0 5vw;
    }
    @media screen and (min-width: 860px) {
        padding: 0 10vw;
    }
    @media screen and (min-width: 1024px) {
        padding: 0 15vw;
    }
    > p {
        font-style: italic;
    }

    ol > li {
        margin-bottom: 1rem;
    }
}

.example {
    opacity: 0.8;
}
