.index {
    @media screen and (min-width: 640px) {
        padding: 0 5vw;
    }
    @media screen and (min-width: 860px) {
        padding: 0 10vw;
    }
    @media screen and (min-width: 1024px) {
        padding: 0 15vw;
    }
    > p {
        font-style: italic;
        margin-bottom: 2rem;
    }

    ol > li {
        margin-bottom: 2rem;
        ul {
            columns: 2;
            @media screen and (min-width: 1024px) {
                columns: 3;
            }
        }
    }
}

.example {
    opacity: 0.8;
}
